<h1>Register new User</h1>
<div>
  <mat-form-field appearance="fill">
    <mat-label>Telephone Number</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password repeat</mat-label>
    <input matInput type="password" />
  </mat-form-field>
  <button mat-raised-button color="primary">Register</button>
</div>
