.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

div {
  max-width: 30%;
  margin: auto;
  margin-top: 40px;
}

h1 {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  max-width: 400px;
}

.mat-form-field {
  display: initial;
}