<mat-card class="agreement-job">
  <mat-card-title>Agreement</mat-card-title>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Consumer Id</mat-label>
    <input matInput type="number" min="0"  [(ngModel)]="consumerId">
  </mat-form-field>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Finished Job Id</mat-label>
    <input matInput type="number" min="0"  [(ngModel)]="finishedId">
  </mat-form-field>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Hours</mat-label>
    <input matInput type="number" min="0" [(ngModel)]="length">
  </mat-form-field>

  <button class="button-back" mat-raised-button color="primary" (click)="onClickBack()">Back</button>

  <button mat-raised-button color="primary" (click)="submitJob()">Submit</button>

</mat-card>
