<mat-card class="add-book">
  <mat-card-title>Add new Job</mat-card-title>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Job</mat-label>
   <input matInput [(ngModel)]="name">
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="description">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addNewJob()">Add new Job</button>
</mat-card>
