<div class="header">
  <a routerLink="" class="header__logo">timebank</a>
  <a mat-flat-button *ngIf="!isAdmin" routerLink="login">Login</a>
  <a mat-flat-button *ngIf="isAdmin" (click)="logout()">Logout</a>
</div>
