<h1>List of all offered Jobs</h1>

<mat-card *ngFor="let job of jobs" class="example-card">
  <mat-card-subtitle>Contact: {{ job.phoneNumber }} </mat-card-subtitle>
  <mat-card-title>{{ job.name }}</mat-card-title>
  <mat-card-content>
    <p>{{ job.description }}</p>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <button mat-button (click)="submitIWant()">I WANT IT</button>
  </mat-card-actions>
</mat-card>
